.habits{

  &__form{
    margin: 16px;
  }

  &__list{

    &--text{
      text-transform: capitalize;
    }

    &--done{
      text-decoration: line-through;
      color: grey;
    }

  }

}

.clicked{
  color: red;
}

span{
  clear: both;
}

li{
  list-style: none;
}

textarea{
  resize: none;
}